<!DOCTYPE html>
<html lang="egn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team2</title>
    <link rel="stylesheet" href="css/about.css">
  {{!-- bootstrap css --}}
</head> 

<h1> This is our about us Homepage...</h1>

</html>